www.bankofengland.co.uk/data/xbrl/fws/banking/liquidity_pillarii/2018-09-01/mod/abc_PL_banking_PRA110_2019-05-31_20190613200145000.xbrl filter=lfs diff=lfs merge=lfs -text
www.bankofengland.co.uk/data/xbrl/fws/banking/liquidity_pillarii/2018-09-01/val/vr-boe_b2030_s.xml filter=lfs diff=lfs merge=lfs -text
www.bankofengland.co.uk/data/xbrl/fws/banking/liquidity_pillarii/2018-09-01/val/vr-boe_b2000_s.xml filter=lfs diff=lfs merge=lfs -text
www.bankofengland.co.uk/data/xbrl/fws/banking/liquidity_pillarii/2019-08-14/val/vr-boe_b2030_s.xml filter=lfs diff=lfs merge=lfs -text
www.bankofengland.co.uk/data/xbrl/fws/banking/liquidity_pillarii/2019-08-14/val/vr-boe_b2000_s.xml filter=lfs diff=lfs merge=lfs -text
www.bde.es/es/fr/xbrl/fws/corep/cir-680-2014/2019-11-18/mod/solv_iii.mapa-val.xml filter=lfs diff=lfs merge=lfs -text
www.bde.es/es/fr/xbrl/fws/ebacrr_finrep/its-005-2020/2020-11-15/mod/finrep_con.mapa-val.xml filter=lfs diff=lfs merge=lfs -text
www.bde.es/es/fr/xbrl/fws/ebacrr_finrep/cir-680-2014/2019-11-15/mod/finrep_con.mapa-val.xml filter=lfs diff=lfs merge=lfs -text
www.bde.es/es/fr/xbrl/fws/ebacrr_res/cir-2018-1624/2020-06-30/mod/resol.mapa-val.xml filter=lfs diff=lfs merge=lfs -text
www.bde.es/es/fr/xbrl/fws/ebacrr_corep/its-2016-03/2016-11-15/mod/solv_iii.mapa-val.xml filter=lfs diff=lfs merge=lfs -text
www.bde.es/es/fr/xbrl/fws/ebacrr_corep/its-2016-repxx/2016-02-01/mod/solv_iii.mapa-val.xml filter=lfs diff=lfs merge=lfs -text
www.bde.es/es/fr/xbrl/fws/ebacrr_corep/its-005-2020/2020-11-15/mod/solv_iii.mapa-val.xml filter=lfs diff=lfs merge=lfs -text
www.bde.es/es/fr/xbrl/fws/ebacrr_corep/its-005-2020/2022-03-01/mod/solv_iii.mapa-val.xml filter=lfs diff=lfs merge=lfs -text
www.bde.es/es/fr/xbrl/fws/ebacrr_corep/its-2014-05/2015-02-16/mod/solv_iii.mapa-val.xml filter=lfs diff=lfs merge=lfs -text
www.bde.es/es/fr/xbrl/fws/ebacrr_corep/its-2013-02/2014-03-31/mod/solv_iii.mapa-val.xml filter=lfs diff=lfs merge=lfs -text
www.bde.es/es/fr/xbrl/fws/ebacrr_corep/its-2013-02/2014-07-31/mod/solv_iii.mapa-val.xml filter=lfs diff=lfs merge=lfs -text
www.bde.es/es/fr/xbrl/fws/ebacrr_corep/its-2013-02/2013-12-01/mod/solv_iii.mapa-val.xml filter=lfs diff=lfs merge=lfs -text
www.bde.es/es/fr/xbrl/fws/ebacrr_corep/cir-680-2014/2018-07-31/mod/solv_iii.mapa-val.xml filter=lfs diff=lfs merge=lfs -text
www.bde.es/es/fr/xbrl/fws/ebacrr_corep/cir-680-2014/2017-04-04/mod/solv_iii.mapa-val.xml filter=lfs diff=lfs merge=lfs -text
www.bde.es/es/fr/xbrl/fws/ebacrr_corep/its-2015-04/2016-01-31/mod/solv_iii.mapa-val.xml filter=lfs diff=lfs merge=lfs -text
www.bde.es/es/fr/xbrl/fws/ebacrr_corep/its-2015-04/2015-08-31/mod/solv_alm.mapa-val.xml filter=lfs diff=lfs merge=lfs -text
www.bde.es/es/fr/xbrl/fws/ebacrr_corep/its-2015-04/2015-08-31/mod/solv_iii.mapa-val.xml filter=lfs diff=lfs merge=lfs -text
