www.bde.es/es/fr/xbrl/fws/** filter=lfs diff=lfs merge=lfs -text
www.bankofengland.co.uk/data/xbrl/fws/banking/liquidity_pillarii/2018-09-01/mod/abc_PL_banking_PRA110_2019-05-31_20190613200145000.xbrl filter=lfs diff=lfs merge=lfs -text
www.bankofengland.co.uk/data/xbrl/fws/banking/liquidity_pillarii/2018-09-01/val/vr-boe_b2030_s.xml filter=lfs diff=lfs merge=lfs -text
www.bankofengland.co.uk/data/xbrl/fws/banking/liquidity_pillarii/2018-09-01/val/vr-boe_b2000_s.xml filter=lfs diff=lfs merge=lfs -text
www.bankofengland.co.uk/data/xbrl/fws/banking/liquidity_pillarii/2019-08-14/val/vr-boe_b2030_s.xml filter=lfs diff=lfs merge=lfs -text
www.bankofengland.co.uk/data/xbrl/fws/banking/liquidity_pillarii/2019-08-14/val/vr-boe_b2000_s.xml filter=lfs diff=lfs merge=lfs -text
